.container {
    margin: 20px;
}

.text-center {
    text-align: center;
}

.column {
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#var-list {
    display: table;
    margin-right: auto;
    margin-left: auto;
}
